.new-collections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

.new-collections h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.new-collections hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.collections {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 0 30px;
}

.collections img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.collections .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.collections .product h3 {
    font-size: 18px;
    color: #383838;
    font-weight: 500;
    margin: 10px 0;
}

.collections .product .price {
    font-size: 20px;
    color: #171717;
    font-weight: 600;
}

.collections .product .original-price {
    font-size: 16px;
    color: #a1a1a1;
    text-decoration: line-through;
    margin-top: 5px;
}


.collections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
}

@media(max-width:1280px) {
    .new-collections h1 {
        font-size: 40px;
    }

    .new-collections hr {
        width: 160px;
        height: 4px;
    }

    .collections {
        gap: 20px;
        margin-top: 30px;
    }
}

@media(max-width:1024px) {
    .new-collections h1 {
        font-size: 30px;
    }

    .new-collections hr {
        width: 120px;
        height: 3px;
    }

    .collections {
        gap: 15px;
        margin-top: 20px;
    }
}

@media(max-width:800px) {
    .new-collections {
        gap: 6px;
    }

    .new-collections h1 {
        font-size: 20px;
    }

    .new-collections hr {
        width: 100px;
        height: 2px;
    }

    .collections {
        gap: 5px;
    }
}

@media(max-width:500px) {
    .collections {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}